// Here you can add other styles
.c-app {
	overflow-x: initial;
}

body {
	font-family: $font-family;
	min-width: 320px;
}

*[dir='rtl'] .ml-auto,
*[dir='rtl'] .mx-auto {
	margin-left: 0 !important;
}

.fs-15 {
	font-size: 15px;
}

.caret-up-down-icon {
	font-size: 14px;
	width: 10px;
}

.fix-number {
	direction: ltr;
	display: inline-block;
}

.rtl-text {
	direction: rtl;
	display: inline-block;
}

.tooltiper {
	cursor: pointer;
	border-bottom: 1px dashed silver;
}

.header-wrapper {
	width: 90%;
	font-size: 13px;
	display: flex;
	align-items: center;

	div:first-child {
		float: right;
	}

	div:last-child {
		float: left;
	}
}

.last-fetch-data-time {
	font-size: 15px;
	min-width: 100px;
}

.c-sidebar {
	width: 200px;
}

*[dir='rtl']
	.c-sidebar.c-sidebar-lg-show:not(.c-sidebar-right).c-sidebar-fixed
	~ .c-wrapper,
*[dir='rtl']
	.c-sidebar.c-sidebar-show:not(.c-sidebar-right).c-sidebar-fixed
	~ .c-wrapper {
	margin-right: 200px;
}
